:root {
  --radius: 0.5rem;
  --clr-graymed: gray;
  --clr-primary: #F58024;
  --clr-primarydark: #6C4E21;
  --clr-primarylight: #FAF3ED;
  --clr-primaryborder: #E9BF8E;
  --padding: 1rem;
}
body{
  background-color: #F5E3D6;
}

.App {
  font-family: "Montserrat", sans-serif;
  color: var(--clr-primarydark);
}

.user-display {
  font-style: normal;
  font-weight: bold;
  font-size: 2rem;
  color: var(--clr-primarydark);
}

.logo {
  height: 12rem;
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}
.logo-mini {
  height: 5rem;
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}
.wrapper {
  background: white;
  width: 20rem;
  padding: 2rem;
  border-radius: var(--radius);
  margin: 2rem auto;
}

.hack-card-wrapper {
  background: white;
  padding: 2rem;
  border-radius: var(--radius);
  border: 2px solid var(--clr-primaryborder);
  margin: 2rem auto;
}
.hack-card-tag {
  background: white;
  padding: 0.2rem;
  border-radius: var(--radius);
  border: 2px solid var(--clr-primary);
  margin: 2rem auto;
  color: var(--clr-primary);
  font-weight: bold;
  margin-right: 1rem;
}

.wrapperLong {
  background: white;
  width: 85%;
  padding: 2rem;
  border-radius: var(--radius);
  margin: 2rem auto;
}

.title {
  text-align: center;
  margin-bottom: 1rem;
}

.description {
  text-align: center;
  font-size: 0.8rem;
  margin-bottom: 1rem;
  font-weight: bold;
}

.form-group {
  display: flex;
  flex-direction: column;
  margin: 1rem 0;
}

.form-label {
  font-size: 0.8rem;
  margin-bottom: 0.2rem;
}

.form-input {
  border: none;
  background-color: var(--clr-primarylight);
  border-radius: var(--radius);
  padding: var(--padding);
  font-family: inherit;
  color: inherit;
  outline: none;
  border: 1px solid rgba(0, 0, 0, 0);
  box-shadow: 0 0 5px rgba(0, 0, 0, 0);
  transition: 250ms all ease-in;
}

.form-input::placeholder {
  color: var(--clr-graymed);
}

.form-input:hover {
  border: 1px solid var(--clr-primary);
  box-shadow: 0 0 5px var(--clr-primary);
  background: white;
}

.form-input:focus {
  border: 1px solid var(--clr-primary);
  box-shadow: 0 0 5px var(--clr-primary);
  background: white;
}

.btn-primary {
  border: none;
  background: var(--clr-primary);
  width: 20rem;
  color: white;
  margin-top: 1rem;
  padding: var(--padding);
  cursor: pointer;
  border-radius: var(--radius);
  font-family: inherit;
  font-weight: bold;
  transition: 250ms all ease-in;
}

.btn-primary:hover {
  background: var(--clr-primarydark);
}

.hack-card-createdBy {
  font-style: normal;
  font-weight: bold;
  padding: 1rem 0 1rem 0;
  color: #A19595;
}

.right-float {
  float: right;
  margin-top: 0;
}
.container-top {
  padding: 0 0 2rem 0;
}

.form-input-field {
  width: 100%;
  border: 2px solid var(--clr-primaryborder);
  border-radius: var(--radius);
  color: inherit;
  font-weight: bold;
  font-size: 1rem;
}

.form-input-tags {
  height: 2.5rem;
}

.add-hack-idea-area {
  height: 20rem;
}

.form-input-tags,.add-hack-idea-area:focus {
  outline: none;
}

.input-label {
  font-size: 1.2rem;
  padding: 1rem 0 1rem 0;
}